<ion-split-pane contentId="main">
  <!--  the side menu  -->
  <ion-menu contentId="main" menuId="principal">

    <ion-header >
      <ion-toolbar class="new-background-color2 text-light">
        <ion-title class="subtitulo">Menu</ion-title>
      </ion-toolbar>
    </ion-header>


    <ion-content class="new-background-color2 " >

      <ion-menu-toggle autoHide=false>

        <ion-item class="nav-link new-background-color2 margin-button5 text-light " button=true  default=true routerLink='/dashboard/inicio' id="mainlink" [routerLinkActive]="'active'">
          <ion-label class="normal" >Dashboard </ion-label>
          <ion-icon slot="start" name="storefront-sharp" class="text-light"></ion-icon>
        </ion-item>

        <ion-item class="nav-link new-background-color2 margin-button5 text-light" button=true default=true routerLink='/dashboard/destino' [routerLinkActive]="'active'" >
          <ion-label class="normal">Destino</ion-label>
          <ion-icon slot="start" name="footsteps" class="text-light"></ion-icon>
        </ion-item>

        <ion-item class="nav-link new-background-color2 margin-button5 text-light" button=true default=true routerLink='/dashboard/pedritobot' [routerLinkActive]="'active'" >
          <ion-label class="normal">¿Deseas más?</ion-label>
          <ion-icon slot="start" name="chatbox-ellipses-outline" class="text-light"></ion-icon>
        </ion-item>


        <!-- <ion-item button=true default=true routerLink='/dashboard/destino-guiado'>
          <ion-label class="normal">Guia</ion-label>
          <ion-icon slot="start" name="arrow-redo-outline"></ion-icon>
        </ion-item> -->

        <!-- <ion-item button=true default=true routerLink='/dashboard/transporte'>
          <ion-label class="normal">Transporte</ion-label>
          <ion-icon slot="start" name="bus"></ion-icon>
        </ion-item> -->

        <!-- <ion-item class="nav-link" button=true default=true routerLink='/dashboard/perfil' [routerLinkActive]="'active'" >
          <ion-label class="normal">Perfil</ion-label>
          <ion-icon slot="start" name="person-circle-outline"></ion-icon>
        </ion-item> -->
        <ion-item class="new-background-color2 text-light text-center">

          <button class=" w-100 btn btn-danger" (click)="desloguear()" >Salir</button>
        </ion-item>

      </ion-menu-toggle>

      <!-- <ion-router-outlet></ion-router-outlet> -->
    </ion-content>

  </ion-menu>

  <!-- the main content -->
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-split-pane>
