<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="subtitulo">Perfil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  {{mensajeEspera}}
  <div class="mb-2">
    <div class="w-100 text-center" style="background-color: rgb(243, 243, 243);">
      <img [src]=user?.photoURL alt="">
    </div>

    <ion-item>
      <ion-label>
        Nombre:
      </ion-label>
      <p name="nombre" type="text" inputmode="text">{{user?.displayName}}</p>
    </ion-item>
    <ion-item>
      <ion-label>
        Email:
      </ion-label>
      <p name="email" type="email" inputmode="text">{{user?.email}}</p>
    </ion-item>




  </div>
  <div style="text-align: center;">

    <ion-button color="primary" (click)="onGoogleLogin()" *ngIf="!user">
      Google
    </ion-button>
    <ion-button color="danger" (click)="salir()" *ngIf="user">
      Salir
    </ion-button>

  </div>
</ion-content>