<ion-header translucent>
  <ion-toolbar class="new-background-color" style="padding-right: 5px;">
    <ion-title>Guía de uso</ion-title>
    <a (click)="dismiss('cerrar')" slot="end"><b>Cerrar</b></a>
  </ion-toolbar>

</ion-header>
<ion-content fullscreen>
  <div class="container mt-2">

    <!-- <iframe  style="width: 100%; border-radius: 30px;" height="315" src="https://www.youtube.com/embed/729IHM88S0Y"
     title="YouTube video player" frameborder="0"
     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
    <div class="w-100 text-center">

      <h4><b>¿Cómo usar nuestra app?</b></h4>
    </div>

     <iframe style="width: 100%;" height="315" src="https://www.youtube.com/embed/JyKrTjAWolk"
     title="YouTube video player" frameborder="0"
     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

     <p style="text-align: justify;" class="mt-5">
      En este video se aprecia una demostración del empleo de la app, pasando
      por el logueo, las búsquedas y sus modos, asi como la selección de los tours virtuales.
    </p>


    <div class="w-100 text-center">
      <p>¡¡Espero te sirva de mucha ayuda!!</p>

    </div>

    <div class="w-100 text-center">
      <img src="assets/images/nino_unprg.jpeg" style="width: 60px;" class="my-2" alt="">

      <h4><b>¿Alguna duda más?</b></h4>
      <p>Escribe al correo: mmiguel@unprg.edu.pe</p>
    </div>




  </div>


</ion-content>
