<ion-header translucent>
  <ion-toolbar class="new-background-color" style="padding-right: 5px;">
    <ion-title>Nuestra App</ion-title>
    <a (click)="dismiss('cerrar')" slot="end"><b>Cerrar</b></a>
  </ion-toolbar>

</ion-header>
<ion-content fullscreen>
  <div class="container mt-5">

    <iframe  style="width: 100%; border-radius: 30px;" height="315" src="https://www.youtube.com/embed/729IHM88S0Y"
     title="YouTube video player" frameborder="0"
     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


     <p style="text-align: justify;" class="mt-5">
      En este video se aprecia una demostración del empleo de la app, pasando
      por el logueo, las búsquedas y sus modos, asi como la selección de los tours virtuales
    </p>

  </div>


</ion-content>
