<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="subtitulo">Tour Posgrado</ion-title>
    <div slot="end">
      <!-- <ion-button color="danger" (click)="presentModalDemo()" class="mr-2 p-0"><b>?</b></ion-button> -->
      <img class="mr-1" [src]=user?.photo style="border-radius: 50%;" width="40px" alt="">
    </div>
  </ion-toolbar>
</ion-header>
<ion-content >
  <div class="container h-100">
    <h5>El único lugar que se visita en este tour solamente es POSTGRADO</h5><br>

    <h4>Recomendaciones:</h4>
    <p>1. Girar el móvil para una mejor experiencia</p>
    <img src="assets/images/posgrado.jfif" class="mb-2" alt="">

    <p>2. Acerca o aleja la pantalla para una mejor visión de todo el panorama</p>
    <p>3. Hacer click en este ícono que está en la esquina superior para regresar: </p>
    <div class="w-100 text-center">
      <img src="assets/images/nino_unprg.jpeg" style="width: 50px;" class="my-2" alt="">
    </div>

    <div class="w-100 text-center">
      <p>¡¡Disfruta la experiencia!!</p>
    </div>

    <div class="w-100 text-center mt-2 mb-2">

      <ion-button class = "w-100" color="primary"  href="http://toursvirtual.66ghz.com/" target="_self" >Entrar al tour</ion-button>
    </div>

    <!-- <p class="w-100 text-center " style="border-top-left-radius: 30px;
    border-top-right-radius: 40px; padding: 1rem;background-color: #466ca4; color: aliceblue;">@2021 UNPRG MAPS APP</p> -->
  </div>



</ion-content>
