<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="subtitulo">Tour Posgrado</ion-title>
    <div slot="end">
      <!-- <ion-button color="danger" (click)="presentModalDemo()" class="mr-2 p-0"><b>?</b></ion-button> -->
      <img class="mr-1" [src]=user?.photo style="border-radius: 50%;" width="40px" alt="">
    </div>
  </ion-toolbar>
</ion-header>
<ion-content >
  <div class="container h-100">
    <h5>El único lugar que se visita en este tour solamente es POSTGRADO</h5><br>

    <img src="assets/images/Postgrado.png" class="mb-2" alt="">

    <div class="w-100 text-center">

      <ion-button color="primary"  href="http://toursvirtualgradosytitulos.66ghz.com/" target="_self" >Entra</ion-button>
    </div>
  </div>
</ion-content>
