<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="subtitulo">Tour Facultades </ion-title>
    <div slot="end">
      <!-- <ion-button color="danger" (click)="presentModalDemo()" class="mr-2 p-0"><b>?</b></ion-button> -->
      <img class="mr-1" [src]=user?.photo style="border-radius: 50%;" width="40px" alt="">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="container h-100">
    <h5>Los lugares que se visitan en este tour son:</h5><br>

    - 14 Facultades <br>
    - Bibliotecas <br>
    - Laboratorios <br>
    - OCCI <br>

    <div class="w-100 text-center mt-2 mb-2">

      <ion-button class = "w-100" color="primary"  href="http://toursfacultadesybibliotecas.66ghz.com/" target="_self" >Entra</ion-button>
    </div>

    <img src="assets/images/Facultades.png" class="mb-2" alt="">


  </div>
</ion-content>
