<!-- <p style="text-align: right;margin-right: 1rem;">
  <a (click)="dismiss()">Cerrar</a>
</p> -->
<ion-header translucent>
  <ion-toolbar>
    <ion-title>Destino</ion-title>
    <a (click)="dismiss('cerrar')" slot="end">Cerrar</a>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (input)="handleInput($event)" (ionClear)="onCancel($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list [ngClass]="objetivomodal!='tour' ? 'ionlist1' : 'ionlist2'">
    <ion-item *ngFor="let lugar of lugaresEncontrados" (click)="selectLugar(lugar)" style="cursor: pointer;">
      <div *ngIf="lugarSeleccionado != null; else normal">
        <p>{{lugar.nombre}}</p>
        <img src="{{lugar.img}}"alt="" >
      </div>
      <ng-template #normal>
        <p>{{lugar.nombre}}</p>
      </ng-template>  
    </ion-item>
    

  </ion-list>
  <hr>
  <div id="tituloModoVista" *ngIf="objetivomodal!='tour'">

    <ion-label>Modo de Vista</ion-label>
  </div>
  <ion-select value="maparuta" (ionChange)="cambiarModoVista($event)" *ngIf="objetivomodal!='tour'">
    <ion-select-option value="maparuta">Mapa con la ruta</ion-select-option>
    <ion-select-option value="direcciones">Direcciones</ion-select-option>
  </ion-select>
  <div id="explicacion" *ngIf="objetivomodal!='tour'">

    <p style="align-content: justify;">
     {{textoExplicacion}}
    </p>
  </div>
  <div id="confirmacion">

    <ion-button color="primary" (click)="dismiss('ok')">LISTO!</ion-button>
  </div>
</ion-content>