<ion-header translucent>
  <ion-toolbar>
    <ion-title>Destino</ion-title>
    <a (click)="dismiss('cerrar')" slot="end"><b>Cerrar</b></a>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionChange)="handleInput($event)" (ionClear)="onCancel($event)" [value]="textoVoz"></ion-searchbar>
    <div class="w-100 text-center">
      <ion-button *ngIf="!hablandoPersona" (click)="activarVoz()" color="primary" class="text-center">
        <ion-icon name="mic-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="hablandoPersona" (click)="pararVoz()" color="danger" class="text-center">
        <ion-icon name="mic-outline"></ion-icon>
      </ion-button>

    </div>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list [ngClass]="objetivomodal!='tour' ? 'ionlist1' : 'ionlist2'">

    <div *ngIf="lugaresEncontrados.length == 0">
      <ion-item *ngFor="let lugar of lugares" (click)="selectLugar(lugar)" style="cursor: pointer;">
        <!-- <p>{{lugar.nombre}} (#B: {{lugar.cantbusquedas}})</p> -->
        <div class="card w-100 mb-1 text-light" [ngClass]="lugar.importancia==1?'lugarimportante':'lugarnoimportante'">
          <div class="card-header ">
            <b>{{lugar.nombre}}</b>
          </div>
          <div class="card-body">
            <blockquote class="mb-0">
              <!-- <p>{{lugar.descripcion[0] | slice:0:10}} </p> -->
              <footer class="text-light" style="font-size: 12px;">Cantidad de búsquedas: {{lugar.cantbusquedas}}</footer>
            </blockquote>
          </div>
        </div>
      </ion-item>
    </div>

    <ion-item *ngFor="let lugar of lugaresEncontrados" (click)="selectLugar(lugar)" style="cursor: pointer;">
      <div *ngIf="lugarSeleccionado != null; else normal" style="width: 100%; text-align: center;">
        <p class="text-primary">{{lugar.nombre}}</p>

        <iframe *ngIf="lugar.frame " [src]="lugar.frame | safe" style="max-width: 600px;" height="350"
          style="margin-left: auto; margin-right: auto;" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <br>


        <p style="text-align:justify; width: auto;" *ngFor="let parrafo of lugar.descripcion">
          {{parrafo}}<br>
        </p>

      </div>
      <ng-template #normal>

        <!-- <p>{{lugar.nombre}} (#B: {{lugar.cantbusquedas}})</p> -->
        <div class="card w-100 mb-1 bg-primary text-light">
          <div class="card-header ">
            {{lugar.nombre}}
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <!-- <p>{{lugar.descripcion[0] | slice:0:10}} </p> -->
              <footer class="blockquote-footer text-light">Cantidad de búsquedas: {{lugar.cantbusquedas}}</footer>
            </blockquote>
          </div>
        </div>

      </ng-template>
    </ion-item>


  </ion-list>


  <div id="confirmacion" style="position: absolute;
  bottom: 0;">

    <ion-button *ngIf="lugarSeleccionado != null" color="primary" (click)="cerrarModal()">LISTO!</ion-button>
    <ion-button *ngIf="lugarSeleccionado != null" color="danger" (click)="cancel()">CANCELAR</ion-button>
  </div>
</ion-content>
