<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="subtitulo">Dashboard</ion-title>
    <div slot="end">
      <img [src]=user.photo style="border-radius: 50%;" width="40px" alt="">
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>

  <!-- style="background: linear-gradient(rgba(178, 212, 207, 0.8), rgba(128, 194, 248, 0.7)),url('assets/images/unprg_plaza.jpg');" class="h-100" -->

  <div>
    <img src="assets/images/unprg_map.gif" alt="">
    <div class="w-100 text-center container">
      <h4 style="color: rgb(104, 85, 0);"><b>¡AYUDEMOS A ENCONTRAR TU DESTINO!</b></h4>
    </div>
    <!-- <img src="assets/images/nino_unprg.jpeg" alt="" class="container"> -->
    <!-- <div class="container">
      <h3 class=" encabezado">BUSCAR DESTINO</h3>
      <h3 class=" encabezado">TOUR GUIADO</h3>
      <h3 class=" encabezado">TRANSPORTE CERCANO</h3>
    </div> 
    <hr>-->
    <div class="container">

      <iframe style="width: 100%;" height="315" src="https://www.youtube.com/embed/7OS1-0b3-Z4"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>

      <hr>
      <p style="text-align: justify;">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi at vel totam! Natus esse, error
        iure sint iste aperiam ipsum quidem delectus. Ipsa minus perferendis quae at aperiam odit natus.
      </p>
    </div>


    <p class="w-100 text-center" style="position: absolute; bottom: 0;">@2021 UNPRG MAPS APP</p>
  </div>
</ion-content>