<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="subtitulo">Inicio</ion-title>
    <!-- <div slot="end">
      <img [src]=user.photo style="border-radius: 50%;" width="40px" alt="">
    </div> -->
  </ion-toolbar>
</ion-header>
<ion-content>

  <!-- style="background: linear-gradient(rgba(178, 212, 207, 0.8), rgba(128, 194, 248, 0.7)),url('assets/images/unprg_plaza.jpg');" class="h-100" -->

  <div>
    <img style="border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;" src="assets/images/encabezado.png" alt="">
    <div class="w-100 text-center container">
      <h4 style="color: rgb(3, 19, 70);"><b>¡AYUDEMOS A ENCONTRAR TU DESTINO!</b></h4>
    </div>
    <!-- <img src="assets/images/nino_unprg.jpeg" alt="" class="container"> -->
    <!-- <div class="container">
      <h3 class=" encabezado">BUSCAR DESTINO</h3>
      <h3 class=" encabezado">TOUR GUIADO</h3>
      <h3 class=" encabezado">TRANSPORTE CERCANO</h3>
    </div>
    <hr>-->
    <div class="container">

      <!-- <iframe style="width: 100%; border-radius: 30px;" height="315" src="https://www.youtube.com/embed/7OS1-0b3-Z4"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe> -->
        <!-- <iframe  style="width: 100%; " height="315"
         src="https://www.youtube.com/embed/Ovv0mMONSgc" title="YouTube video player"
         frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
         allowfullscreen></iframe>
 -->


      <!-- <div style="border-radius: 30px; padding: 1rem; background-color: rgb(62, 130, 255); color: aliceblue;">

        <p style="text-align: justify; ">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi at vel totam! Natus esse, error
          iure sint iste aperiam ipsum quidem delectus. Ipsa minus perferendis quae at aperiam odit natus.
        </p>
      </div> -->
    </div>
    <div style="border-top-left-radius: 30px;
    border-top-right-radius: 40px; padding: 1rem;">

      <p style="text-align: justify;">
        Te ayudamos a localizar las plantas de oxígenos y también venta de productos contra en covid–19 cercanas a ti , como son balones de oxígenos , oxímetros , entre otros. 
        Para que siempre sepas donde ir.


      </p>
      <br>
      <!-- <h5>Visita nuestro demo para poder tener una idea de cómo emplear
        esta app
      </h5> -->
    </div>

    <!-- <div class="w-100 text-center mb-2 container">

      <ion-button class="w-100" (click)="modalDemo()">Ver demo</ion-button>
    </div>
    <br><br><br>
    <!-- <p
    class="w-100 text-center" style="border-top-left-radius: 30px; height: 100%;
    border-top-right-radius: 40px; padding: 1rem;background-color: #466ca4; color: aliceblue;">@2021 UNPRG MAPS APP</p> -->

  </div> -->
</ion-content>
