<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="subtitulo">PedritoBot</ion-title>
    <!-- <div slot="end">
      <img [src]=user?.photo style="border-radius: 50%;" width="40px" alt="">
    </div> -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="text-center px-1">

    <h1 style="color: #466ca4;"><b>CONOCE A NUESTRO PEDRITOBOT</b></h1>

    <img src="assets/images/PedritoBot.jpg" alt="">
    <hr>
    <div class="container" style="text-align: justify;">
      Ya que elegiste saber mas, nuestro PedritoBot, te ayudara a conocer acerca de nuestra universidad
      asi como mejorar la interaccion con nuestros trabajadores,  si ahora estas ubicado geograficamente
      ahora te ofrecemos estar al dia en el conocimiento universitario!!
    </div>
    <hr>
    <div>
      <img src="assets/images/captura.jfif" alt="">
    </div>
    <hr>
    <div>
      <ion-button>Ir a PedritoBot</ion-button>
    </div>
  </div>
  <!-- <p class="w-100 text-center mt-2" style="border-top-left-radius: 30px;
  border-top-right-radius: 40px; padding: 1rem;background-color: #466ca4; color: aliceblue;">@2021 UNPRG MAPS APP</p> -->
</ion-content>
